.root {
  padding: 32px;

  background-color: rgba(10, 11, 14, 0.32);

  border: 1px solid #202939;
  border-radius: 32px;
}

.header {
  display: inline-flex;
  align-items: baseline;
  gap: 4px;

  padding: 0 8px;
  margin-bottom: 24px;

  &Icon {
    height: 12px;
    width: 12px;

    fill: #768393;
  }
}

.title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.01em;

  color: #fcfcfd;
}
