.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.04px;
  text-transform: uppercase;

  transition-property: background-color, color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in;

  height: var(--height);
  padding-left: var(--padding-inline);
  padding-right: var(--padding-inline);
  min-width: var(--min-width);
  border-radius: var(--border-radius);

  color: rgb(var(--color-channel) / var(--color-alpha, 1));
  background-color: rgb(
    var(--background-color, transparent) / var(--background-alpha, 1)
  );
  border-color: rgb(var(--border-color, transparent) / var(--border-alpha, 1));
  border-width: var(--border-width, 0px);
  border-style: solid;
  border-image: none;

  &:focus {
    --alpha: 1;
    outline: 4px solid rgb(var(--channel, transparent) / 0.4);
  }
  &:hover {
    --alpha: 0.8;
  }
  &:disabled {
    pointer-events: none;
    cursor: default;
    --alpha: 0.2;
    --color-alpha: 0.4;
  }
}

.variant {
  &Text {
  }
  &Fill {
    --color-channel: var(--color-text--rgb);
    --background-color: var(--channel);
    --background-alpha: var(--alpha);
  }
  &Outline {
    --color-color: var(--channel);
    --border-color: var(--channel);
    --border-width: 1px;
    --border-alpha: 0.4;
  }
}

.color {
  &Text {
    --channel: var(--color-text--rgb);
  }
  &Warn {
    --channel: var(--color-warning--rgb);
  }
  &Info {
    --channel: var(--color-main--rgb);
  }
}

.size {
  &Sm {
    --padding-inline: 12px;
    --border-radius: 4px;
    --min-width: 52px;
    --height: 32px;
  }
  &Md {
    --padding-inline: 20px;
    --border-radius: 8px;
    --min-width: 72px;
    --height: 44px;
  }
}

.fill {
  width: 100%;
}
