.root {
  display: flex;
  flex-direction: column;

  gap: 12px;

  padding: 16px 16px 12px 16px;

  background-color: rgba(18, 25, 38, 0.4);
  border: 1px solid #202939;
  border-radius: 24px;

  transition: background-color 150ms ease;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 16px;

    padding: 24px 24px 16px 16px;
  }

  &:hover {
    background-color: #121926;
  }
}

.gutter {
  padding-bottom: 24px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;

  font-family: 'Plus Jakarta Sans';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42;

  color: #fcfcfd;

  margin-bottom: 8px;

  @media (min-width: 1024px) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
  }
}

.land {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  &Avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    flex-shrink: 0;
  }

  &Body {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &Title {
    text-overflow: ellipsis;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;

    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.42;

    color: #fcfcfd;
  }
}

.details {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;

  color: #768393;

  strong {
    color: #cdd5df;
  }
}

.status {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;

  color: #768393;
}

.hotTag {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;

  color: #cdd5df;
}
