.header {
  margin-bottom: var(--size-32);
  height: 28px;

  &WithAvatar {
    height: 64px;
  }
}

.title {
  font-size: var(--size-20--rem);
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
}

.description {
  font-size: var(--size-14--rem);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: normal;
}

.footer {
  flex-direction: column;
}

.steps {
  text-align: center;
  margin-bottom: var(--size-8);

  &Item {
    display: inline;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &Button {
      --channel-alpha: 0.32;

      height: 10px;
      width: 10px;
      cursor: pointer;

      background-color: rgb(250 250 250 / var(--channel-alpha));
      border-radius: 5px;
      border: 0;

      transition: background-color 200ms ease-in-out;

      &Active {
        --channel-alpha: 1;
      }
    }
  }
}

.content {
  height: 412px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.dialog {
  max-width: 472px;
  width: 100%;
}

.container {
  flex-grow: 1;
}
