.root {
  display: flex;
  align-items: center;
  transition: background-color 200ms ease-in-out;
  background-color: #0a0b0e;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  @media (min-width: 1024px) {
    transition: unset;
    margin-left: auto;
    border-top: unset;
    position: unset;
    width: unset;
    padding: 0;
    background-color: transparent;
  }
}

.social {
  display: flex;
  justify-self: end;
  gap: 20px;
  padding: 16px var(--Spacing-spacing-4xl, 56px);

  @media (max-width: 1024px) {
    align-items: center;
    justify-content: center;
  }

  svg {
    fill: var(--color-text-primary);
  }
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background: rgba(32, 41, 57, 0.72);
}

.actions {
  &Group {
    display: inherit;
    gap: inherit;
  }
}

.high {
  z-index: 1300;
}

.network {
  margin-left: auto;
}

.help,
.howToPlay,
.transactions {
  padding: var(--size-12) !important;
  margin-left: auto;
}

.createButton {
  color: #fff;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: var(--Spacing-spacing-lg, 16px);
  align-self: stretch;
}

.menuItem svg {
  width: 24px;
  height: 24px;
}
