.root {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 24px;
  margin-top: 24px;
}
