.root {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu {
  margin-left: 16px;
}

.list {
  max-width: 440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1440px) {
    display: flex;
    align-items: center;
    width: unset;
    margin-left: unset;
    margin-right: unset;
  }
}

.item {
  margin-bottom: 12px;

  @media (min-width: 1440px) {
    margin-bottom: unset;

    &:not(:last-of-type) {
      margin-right: 24px;
    }
  }
}

.link {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

.active {
  color: var(--color-text-primary);
}

.logos {
  display: inherit;
  gap: var(--size-8);
  align-items: center;
}

.dialog {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  height: var(--header-height);
}

.hide {
  float: right;
}

.footer {
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.social {
  width: 40px;
  height: 40px;
  background-color: rgba(181, 210, 254, 0.12);
  border-radius: 4px;
  display: flex;
  color: var(--color-neutral-tertiary);
}

.icon {
  margin: auto;
}

.createMarket {
  margin-top: 24px;
  max-width: 280px;
}

.network {
  margin-left: auto;
  margin-right: 8px;
  border: none !important;
}

.customItem {
  &:hover {
    color: var(--color-text-primary) !important;
  }
}