h1 {
  font-size: 4.8rem;
  line-height: 1.5;
}

h2 {
  font-size: 4rem;
  line-height: 1.5;
}

h3 {
  font-size: 3.2rem;
  line-height: 1.5;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.36;
}

h5 {
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0.112rem;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.096rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

label {
  font-size: 1.3rem;
  line-height: normal;
}
